@media (min-width: 360px){


  /* Slideshow container */
  .slider-container {
    display: flex;
    position: relative;
    height: 50vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: space-between;
  }

  /* Style each slide */
  .slide {
    display: none;
  }

  .photo {
    object-fit: contain;
  }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: relative;
    top: 45%;
    height: 10%;
    width: 10%;
    background: none;
    color: white;
    font-weight: bold;
    transition: 0.6s ease;
    border: none;
  }

  /* Position the "next" button to the right */
  .prev {
    left: 0;
  }
  .next {
    right:0;
  }

  /* On hover, add a semi-transparent black background */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .dots {
    display: flex;
    justify-content: center;
    height: fit-content;
  }

  .dot {
    cursor: pointer;
    background-color: #ccc;
    border-radius: 50%;
    display: inline-block;
    transition: 0.5s;
    height: 5px;
    width: 5px;
  }

  .active,
  .dot:hover {
    background-color: gray;
  }

  /* Fading animation */
  .fade {
    position: absolute;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {
      opacity: 0.3;
    }
    to {
      opacity: 1;
    }
  }
  @media (min-width: 768px){
    .prev,
    .next {
      font-size: 30px;
    }
  }
}