.user-panel {
    z-index: 1000;
    
  }
  
  .avatar-container {

   
  }
  
  .avatar {
  }
  .badget{
  }
  .user-badgets{
    display:flex;
  }
  .clmn{
    display:flex;
  }
  video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
  }
  
  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.0);
    z-index: -1;
    
  }
 